/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4a4b4c;
    background-color: #fff;
}
/* CONTAINER STYLES */
.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* SITE HEADER STYLES */
/* .site-header {

} */

/* SITE HEADER TOP STYLES */
.site-header-top {
    padding: 30px 0;
    background-color: #f6f6f6;
    margin-bottom: 10px;
}
.site-header-top-container {
    display: flex;
    align-items: center;
}
.site-header-top-logo {
    display: flex;
    padding: 9px 6px 8px;
    background-color: #fff;
    border-radius: 7px;
    margin-right: 35px;
}
.site-header-top-logo:hover {
    opacity: 0.8;
}
.site-header-top-logo:active {
    opacity: 0.6;
    filter: blur(1px);
}
.site-header-top-logo-img {
    width: 264px;
    height: 28px;
    object-fit: contain;
}
.currensy-rates-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: auto;
}
.currensy-rates-item:not(:last-child) {
    margin-right: 25px;
}
.currensy-rates-item-bold {
    line-height: 19px;
    color: #2959ce;
    margin-right: 2px;
}
.currensy-rates-item-text {
    line-height: 19px;
    color: #555;
}
.site-header-top-search {
    margin-right: 25px;
}
.site-header-top-search input {
    width: 275px;
    padding: 14px 10px 14px 41px;
    border-radius: 60px;
    border: none;
    outline: none;
    background-image: url("../images/home-imges/Mask.svg");
    background-repeat: no-repeat;
    background-position: 18px 15px;
    background-size: 15px 15px;
}
.lang-toggler {
    padding: 3px;
    border-radius: 39px;
    background-color: #dce6ff;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.lang-toggler-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    color: #a6a6a6;
}
.lang-toggler-active {
    background-color: #fff;
    color: #000;
}
.site-header-top-btn {
    font-weight: 500;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 10px;
    background-color: #7296ec;
    display: inline-block;
}
.site-header-top-btn:hover {
    opacity: 0.8;
}
.site-header-top-btn:active {
    opacity: 0.6;
}


/* SITE HEADER BOTTOM STYLES */
.site-header-bottom {
    margin-bottom: 50px;
}

/* SITE HEADER NAV STYLES */
.site-header-nav {
    padding-bottom: 5px;
    padding-top: 20px;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 40px;
}
.site-header-nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.site-header-nav-item {
    margin-bottom: 15px;
}
.site-header-nav-item:not(:last-child) {
    margin-right: 34.4px;
}
.site-header-nav-item-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.33px;
    color: #7f7f7f;
    text-decoration: none;
    text-transform: capitalize;
}
.site-header-nav-item-link:hover {
    color: #7296ee;
}
.site-header-nav-item-link:active {
    opacity: 0.6;
}

/* SITE HEADER REKLAMA BANNER */
.site-header-reklama-banner {
    display: flex;
}
.site-header-reklama-banner-img {
    width: 100%;
    height: auto;
}


/* MAIN SECTION STYLES */
.site-main {
    flex-grow: 1;
    padding-bottom: 100px;
}

/* NEWS CARDS STYLES */
.news-cards-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -10px;
    margin-bottom: 50px;
}
.news-cards-item {
    width: 393px;
    background-color: #f6f6f6;
    padding: 20px 17px 15px;
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.5s ease;
}
.news-cards-item:hover {
    box-shadow: 0px 0px 10px 0px #cacaca;
}
.news-cards-item-title {
    margin-bottom: 10px;
}
.news-cards-item-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    text-decoration: none;
}
.news-cards-item-link:hover {
    color: #7296ee;
}
.news-cards-item-link:active {
    opacity: 0.6;
}
.news-cards-item-text {
    margin-bottom: 15px;
}
.news-cards-item-img-wrapper {
    border-radius: 10px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: 15px;
}
.news-cards-item-img {
    transition: transform 0.8s ease;
    display: block;
}
.news-cards-item-img:hover {
    transform: scale(1.2);
}
.news-cards-item-footer {
    display: flex;
    align-items: center;
}
.news-cards-item-footer-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    object-fit: contain;
}
.news-cards-item-footer-text,
.news-cards-item-footer-time {
    font-size: 12px;
    line-height: 14.22px;
    color: #5e5f61;
}
.news-cards-item-footer-time {
    margin-left: 5px;
}

/* NOTIFICATION SECTION STYLES */
.notification-section {
    width: 100%;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/home-imges/notification-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 71px 24px 29px;
    border-radius: 10px;
    margin-bottom: 60px;
}
.notification-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
}
.notification-section-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 23.7px;
    color: #fff;
    padding: 13px 30px;
    background-color: #f78b3b;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
/* MODAL STYLES */
.modal-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5)100%, rgba(0, 0, 0, 0.5)100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.modal {
    width: 100%;
    max-width: 850px;
    padding: 50px 0px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    position: relative;
}
.modal-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    color: #000;
    margin-bottom: 25px;
}
.modal-btn {
    padding: 15px 40px;
}
.modal-cancel {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.hidden {
    display: none;
}


/* GLOBAL NEWS STYLES */
.global-news {
    display: flex;
    padding-top: 48px;
    position: relative;
}
.global-news-list {
    width: 100%;
    max-width: 797px;
    margin-right: 10px;
}
.global-news-title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    color: #000;
}
.global-news-item {
    padding: 20px 20px 20px 17px;
    background-color: #f6f6f6;
    list-style: none;
    display: flex;
    border-radius: 15px;
    margin-bottom: 10px;
}
.global-news-item-img {
    width: 210px;
    height: 165px;
    object-fit: cover;
    margin-right: 15px;
}
.global-news-item-title {
    margin-bottom: 10px;
}
.global-news-item-title-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    text-decoration: none;
    transition: all 0.1s linear;
}
.global-news-item-title-link:hover {
    color: #7296ee;
}
.global-news-item-text {
    margin-bottom: 17px;
}
.global-news-list-button {
    width: 100%;
    background-color: #eaeaea;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 17px;
    font-weight: 500;
    line-height: 19px;
    margin-top: 7px;
}
.global-news-list-button:hover {
    opacity: 0.8;
}
.global-news-list-button:active {
    opacity: 0.6;
}
/* GLOBAL NEWS SIDEBAR STYLES */
.global-news-sidebar {
    width: 392px;
}
.global-news-sidebar-list {
    padding: 20px 17px 20px;
    background-color: #f6f6f6;
    border-radius: 15px;
    margin-bottom: 10px;
    list-style-type: none;
}
.global-news-sidebar-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    color: #000;
    margin-bottom: 25px;
}
.global-news-sidebar-item:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 20px;
}
.global-news-sidebar-item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    margin-bottom: 8px;
}
.global-news-sidebar-item-footer {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 15.41px;
}
.global-news-sidebar-item-footer-text {
    margin-right: 5px;
}
.global-news-sidebar-reklama-link {
    display: flex;
}
.global-news-sidebar-reklama {
    width: 393px;
    height: 338px;
    object-fit: cover;
}

/* SITE FOOTER STYLES */
.site-footer {
    background-color: #7297ef;
    padding: 40px 0px;
}
.site-footer-container {
    width: 100%;
    max-width: 1040px;
}
.site-footer-logo {
    display: inline-flex;
    margin-bottom: 15px;
}
.site-footer-logo-img {
    width: 264px;
    height: 28px;
    object-fit: contain;
}
.site-footer-main {
    display: flex;
    justify-content: space-between;
}
.site-footer-main-text {
    width: 229px;
    color: #fff;
    font-size: 12px;
    line-height: 19px;
}
.site-footer-nav {
    width: 591px;
    display: flex;
    margin-bottom: 30px;
}
.site-footer-nav-list {
    flex-grow: 1;
    list-style: none;
}
.site-footer-nav-item {
    transition: transform 0.5s ease;
}
.site-footer-nav-item:not(:last-child) {
    margin-bottom: 20px;
}
.site-footer-nav-item:hover {
    transform: translateY(-5px);
}
.site-footer-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
}
.site-footer-nav-link:hover {
    text-decoration: underline;
}
.site-footer-hr {
    width: 100%;
    height: 1px;
    background-color: #cecece;
    border: none;
    margin-bottom: 20px;
}
.site-footer-social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-footer-social-media-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
}
.site-footer-social-media-list {
    display: flex;
    list-style: none;
}
.site-footer-social-media-item:not(:last-child) {
    margin-right: 25px;
}
.site-footer-social-media-item {
    transition: transform 0.4s ease;
}
.site-footer-social-media-item:hover {
    transform: scale(1.2) translateY(-3px);
}
.site-footer-social-media-item:active {
    opacity: 0.6;
}
.site-footer-social-media-link {
    display: flex;
}
.site-footer-social-media-img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}






@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .notification-section {
        background-image: url("../images/home-imges/notification-bg@2x.jpg");
    }
}